Importing the dataset and libraries.

In [1]:
import pandas as pd


events = pd.read_csv('Data/sedec_tipo_ocorrencias.csv',sep=';')

Taking a look at the dataset.

In [2]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31622 entries, 0 to 31621
Data columns (total 2 columns):
processo_numero        31622 non-null int64
processo_ocorrencia    31622 non-null object
dtypes: int64(1), object(1)
memory usage: 370.6+ KB

In [3]:
events.head()

   processo_numero                      processo_ocorrencia
0       8155845218  Não há Ocorrência para essa Solicitação
1       8155698018               Deslizamentos de Barreiras
2       8155361518    Invasao de Terreno de Auxilio Moradia
3       8155337718                  Imoveis com Danos/Risco
4       8155296918  Não há Ocorrência para essa Solicitação

In [4]:
events['processo_ocorrencia'].value_counts()

Não há Ocorrência para essa Solicitação               14857
Deslizamentos de Barreiras                             6009
Imoveis com Danos/Risco                                5320
Arvores em Risco                                       2082
Muro com Danos                                         1396
Invasao de Terreno de Auxilio Moradia                   546
Desabamento Parcial Imoveis                             377
Tombamento de Arvores                                   263
Imoveis Alagados                                        168
Alagamentos                                             161
Incendios                                               122
Desabamento Total Imoveis                                94
Desabamento Parcial de Obras de Contencao/Drenagem       58
Postes em Risco                                          57
Desabamento Total de Obras de Contencao/Drenagem         40
Transbordamentos de Canais                               33
Elevacao do Nivel do Rio                                 16
Produtos Quimicos Perigosos                              14
Tombamento de Postes                                      9
Name: processo_ocorrencia, dtype: int64

Renaming the dataset for better understanding. This dataset relates to what happened on a given ID (the location and date will be given when we cross-reference the ID with the other datasets).

In [5]:
events = events.rename(columns={'processo_numero':'ID','processo_ocorrencia':'event'})

In [6]:
events.head()

           ID                                    event
0  8155845218  Não há Ocorrência para essa Solicitação
1  8155698018               Deslizamentos de Barreiras
2  8155361518    Invasao de Terreno de Auxilio Moradia
3  8155337718                  Imoveis com Danos/Risco
4  8155296918  Não há Ocorrência para essa Solicitação

After a look at the event column, we detected that the information that we need is if sliding took place, so we'll isolate that keyword 'deslizamento'(sliding in portuguese) and transform into a 0, 1 column respectively.

In [7]:
import re


text = []
for i in range(0, len(events['event'])):
    review = re.sub('[^a-zA-Z]', ' ', events['event'][i])
    review = review.lower()
    review = review.split()
    text.append(review)



events['event'] = text
events['event'] = [1 if 'deslizamentos' in event else 0 for event in events['event']]
events.head()

           ID  event
0  8155845218      0
1  8155698018      1
2  8155361518      0
3  8155337718      0
4  8155296918      0

In [8]:
events.event.value_counts()

0    25613
1     6009
Name: event, dtype: int64

Finally there are some duplicate ID entries, so we'll drop the ones that might have 0 values in the event of a sliding.

In [9]:
events = events.sort_values('event', ascending=False).drop_duplicates('ID').sort_index()

In [10]:
events.to_csv(path_or_buf='events_prepared.csv')